<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it"
lang="it" >
<!--INIZIO HEADER-->
<head>
<title>Informazioni e domande frequenti - My Eventi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="title" content="My eventi sito di annunci di eventi - Tutte le informazioni e domande frequenti" />
    <meta name="description" content="Ottieni le informazioni su argomenti e contesti del sito" />
    <meta name="keywords" content="annuncio, evento, concerto, conferenza, seminario, congresso, intrattenimento, 
                                    musica, scienze, arte, filosofia, letteratura, matematica, informatica, pop, rock, elettronica" />
    <meta name="language" content="italian it" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="my_eventi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="salta">
        <a class="hidden" accesskey="7" href="#contenuto">Visita la pagina partendo dai contenuti</a>
        <a class="hidden" accesskey="8" href="#nav">Visita la pagina partendo dal men&ugrave; di navigazione</a>
        <a class="hidden" accesskey="9" href="#breadcrumb">Scopri dove ti trovi</a>
        <a class="hidden" accesskey="p" href="#header">Vai alla presentazione del sito</a>
    </div>
    <div id="header">
        <h1>My Eventi</h1>
        <p>Scopri e pubblica annunci di eventi nella tua citt&agrave;</p>
        <p class="hidden"><a href="#infosito">Ottieni maggiori informazioni su chi siamo</a></p>
        <span class="spotlightinverted"></span>
    </div>
    <div id="nav">
        <ul id="faqnavmenu">
            <li id="home" ><a accesskey="1" href="../index.php">Torna alla pagina  <span xml:lang="en" lang="en">Home</span></a></li>
            <li id="searchBoxTop">
                <form action="../archivio.php" method="get">
                 <fieldset>
                   <label for="search">Cerca un annuncio di evento</label>
                    <input type="text" name="keyword" id="search" maxlength="30"/>
                    <input type="submit" value="cerca"/>
                 </fieldset>
                </form> 
            </li>
        </ul>
    </div>
    <!--Fine Header--> 
    <p id="breadcrumb">Ti trovi in : <a href="../index.php">Home</a> > Informazioni e domande frequenti</p>
    <div id="contenuto">
    <h1>Informazioni e Domande Frequenti</h1>
    <a href="#infosito" class="hidden">Salta l'indice dei contenuti e leggi tutto il contenuto</a>
        <div id="navFaq">
            <div>
                <strong>Informazioni generali</strong>
                <ul>
                    <li><a href="#infosito" class="mobilegodown">Chi siamo - Informazione generale</a></li>
                    <li><a href="#findevent" class="mobilegodown">Come trovare un annuncio di eventi ? - Aiuto</a></li>
                    <li><a href="#iscr" class="mobilegodown">Iscriversi a <span xml:lang="en" lang="en">My</span> Eventi - Informazioni e Domande generali</a>
                        <ul>
                            <li><a href="#xkiscr" class="mobilegodown">Perch&eacute; iscriversi a <span xml:lang="en" lang="en">My </span>Eventi? - Informazione generale</a></li>
                            <li><a href="#whatsp" class="mobilegodown">Che cos'&egrave; uno spazio personale <span xml:lang="en" lang="en">My</span> Eventi ? - Domanda generale frequente e informazioni</a></li>
                            <li><a href="#comeiscr" class="mobilegodown">Come iscriversi a <span xml:lang="en" lang="en">My </span> Eventi ? -  Aiuto</a></li>
                            <li><a href="#rs" class="mobilegodown">Che cos'&egrave; una rete sociale <span xml:lang="en" lang="en">My</span> Eventi ? - Domanda generale frequente e informazioni</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <strong>Domande frequenti utenti iscritti</strong>
                <ul>
                    <li><a href="#idklog" class="mobilegodown">Mi sono iscritto ma non so come accedere al mio <span xml:lang="en" lang="en">account</span> - Domanda frequente e Aiuto utente iscritto</a></li>
                    <li><a href="#idkpass" class="mobilegodown">Ho dimenticato la password, potete dirmela ? - Domanda frequente e Aiuto utente iscritto</a></li>
                    <li><a href="#cantlog" class="mobilegodown">Non riesco ad accedere, mi viene detto nome utente o password sbagliata - Domanda frequente utente iscritto</a></li>
                    <li><a href="#logblock" class="mobilegodown">Non riesco ad accedere, mi viene detto <span xml:lang="en" lang="en">account</span> bloccato - Domanda frequente utente iscritto</a></li>
                    <li><a href="#logelim" class="mobilegodown">Non voglio pi&ugrave; essere iscritto a <span xml:lang="en" lang="en">My</span> Eventi, come faccio a disiscrivermi ?  - Domanda frequente e Aiuto utente iscritto</a></li>
                    <li><a href="#impost" class="mobilegodown">Mi sono iscritto e voglio modificare il mio profilo tra cui la mia password di accesso  - Domanda frequente e Aiuto utente iscritto</a></li>
                    <li><a href="#impostUN" class="mobilegodown">Perch&eacute; non riesco a cambiare il mio nome utente dalle impostazioni profilo ? - Domanda frequente e Informazione utente iscritto</a></li>
                    <li><a href="#findutente" class="mobilegodown">Come trovare una persona iscritta al sito, che pubblica annunci ? - Domanda frequente e Aiuto utente iscritto e non iscritto</a></li>
                </ul>
            </div>
            <div>
                <strong>Domande frequenti utente <span xml:lang="en" lang="en">premium</span></strong>
                <ul>
                        <li><a href="#rulesPublish" class="mobilegodown"><strong>REGOLE DI PUBBLICAZIONE DI UN ANNUNCIO DI EVENTO - Informazione importante</strong></a></li>
                        <li><a href="#whatisit" class="mobilegodown">Che cos'&egrave; un utente <span xml:lang="en" lang="en">premium </span>?  - Domanda frequente utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#howtobe" class="mobilegodown">Come diventare un utente <span xml:lang="en" lang="en">premium</span>?  - Aiuto utente non <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#nomorepremium" class="mobilegodown">Non sono pi&ugrave; utente <span xml:lang="en" lang="en">premium </span>, perch&egrave; ?  - Informazioni <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#backtopremium" class="mobilegodown">Come riavere i privilegi <span xml:lang="en" lang="en">premium</span> che mi sono stati annulati ?  - Domanda frequente e Informazioni utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#wantpublish" class="mobilegodown">Come faccio a pubblicare un annuncio ?  - Domanda frequente utente <span xml:lang="en" lang="en">premium</span> e Informazione generale</a></li>
                        <li><a href="#upnewann" class="mobilegodown">Scrivere un nuovo annuncio di evento  - Aiuti utenti <span xml:lang="en" lang="en">premium</span></a>
                            <ul>
                                <li><a href="#upmustfield" class="mobilegodown">Compilare i campi obbligatori - Aiuto utenti <span xml:lang="en" lang="en">premium</span></a></li>
                                <li><a href="#upfacofield" class="mobilegodown">Compilare i campi facoltativi - Aiuto utenti <span xml:lang="en" lang="en">premium</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#upedit"  class="mobilegodown">Come modificare il tuo annuncio pubblicato ? - Domanda frequente e Aiuto utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#updelete"  class="mobilegodown">Come eliminare il tuo annuncio pubblicato ? - Domanda frequente e Aiuto utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#uppp"  class="mobilegodown">Come mettere il tuo annuncio in primo piano ? - Domanda frequente e Informazione utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#upnewpics"  class="mobilegodown">Come aggiungere nuove foto al tuo annuncio pubblicato. o eliminare le sue vecchie foto? - Domanda frequente e aiuto utente <span xml:lang="en" lang="en">premium</span></a></li>
                        <li><a href="#upfindan"  class="mobilegodown">Non trovo un annuncio pubblicato tempo fa, Come faccio a trovarlo? - Domanda frequente e aiuto utente <span xml:lang="en" lang="en">premium</span></a></li>
                 </ul>
            </div>
        </div>
        <div id="contentFaq">
        
     
            <div id="utentePremium">
            
            <div>
                <h2 id="infosito">Chi siamo</h2>
                <p><span xml:lang="en" lang="en">My</span> Eventi &egrave; un sito web di annunci creato dallo studente universitario <em>Bile <span xml:lang="fr" lang="fr">Ezanin Christian Prince Carlos</span></em> per il suo progetto di tecnologie 
                web nell'anno scolastico 2016 -2017. 
                L'obbiettivo di <span xml:lang="en" lang="en">My</span> Eventi &egrave; quello di pubblicare annunci, accessibili a tutte le categorie di persone fisiche residenti o domiciliati in italia, di eventi che si svolgeranno, o che si sono svolti nei loro pressi residenziali o domiciliari. 
                Gli annunci vengono catalogati in base al <a href="../archivio.php?arch=types">tipo di evento</a>, ad esempio: <em>Concerto, seminario, conferenza e cos&igrave; via</em>,
                e alla <a href="../archivio.php?arch=categ">categoria di evento</a>, ad esempio: <em>Intrattenimento, scienze, sport e cos&igrave; via</em>. Se sei in cerca di un concerto, di una conferenza o di qualsiasi
                altro tipo di evento, sei nel posto giusto. <a href="#findevent" class="mobilegodown">Scopri come trovare gli annunci di eventi che cerchi e come partecipare.</a></p>
                <p> <span xml:lang="en" lang="en">My</span> Eventi permette al visitatore di iscriversi al sito per poter pubblicare il proprio annuncio di evento, in questo caso il sito diventa un intermediario tra i partecipanti dell'evento e 
                il pubblicatore dell'annuncio: viene permesso a tutti gli utenti di prenotarsi all'evento e al pubblicatore di avere la lista dei partecipanti con cognome e nome ed eventualmente stamparla. Non viene gestito nessun tipo di pagamento di biglietto 
                per gli eventi non gratuiti, ma soltanto la prenotazione. <span xml:lang="en" lang="en">My</span> Eventi offre inoltre tanti altri vantaggi e servizi all'utente iscritto. 
                <a href="#iscr"  class="mobilegodown">Scopri tutti i vantaggi di essere iscritti a <span xml:lang="en" lang="en">My</span> Eventi.</a> 
                </p>
            </div>
            <div>
                <h2 id="findevent">Come trovare un annuncio di evento</h2>
                <p>Se sei in cerca di un evento particolare, vicino a casa tua oppure che rispetti certe esigenze, <span xml:lang="en" lang="en">My</span> Eventi mette a disposizione 4 pagine per aiutarti a trovarli.</p>
                <ol>
                    <li><a href="../archivio.php?arch=types">La pagina: <strong>Tipi di eventi</strong></a> : In questa pagina troverai i vari tipi di eventi con il numero di annunci pubblicati per quei tipi di eventi. 
                     potresti trovare ad esempio: <em>Concerto : 300 annunci</em>. Cliccando sul tipo, verrai indirizzato ad una pagina di risultati ottenuti su una ricerca per tipo di eventi, e ti verranno poi dati il titolo
                      e la breve introduzione degli annunci trovati. Potrai poi cliccare su qualsiasi annuncio per avere pi&ugrave; dettagli.</li>
                    <li><a href="../archivio.php?arch=categ">La pagina: <strong>Categorie</strong></a> : In questa pagina troverai le categorie di eventi con il numero di annunci pubblicati per quelle categorie. Una categoria di eventi
                     &egrave; suddivisione che si ottiene ordinando o classificando secondo vari criteri (gerarchico, di specializzazione, e cos&igrave; via), un gruppo di eventi che possono essere di diversi tipi. Ad esempio <em>la categoria
                     Scienze</em> pu&ograve; contenere annunci di conferenza, seminari o congressi che parlano di astronomia o di matematica.. Cliccando sulla categoria che desideri esplorare, verrai indirizzato ad una pagina di risultati ottenuti su una ricerca per categoria di eventi,
                     e ti verranno poi dati il titolo e la breve introduzione degli annunci trovati. Potrai poi cliccare su qualsiasi annuncio per avere pi&ugrave; dettagli.</li>
                    <li><a href="../archivio.php?citta">La pagina: <strong>Eventi nella tua citt&agrave;</strong></a> : In questa pagina potrai trovare annunci di eventi di qualsiasi tipo e in quasiasi categoria, in una determinata citt&agrave; o comune.
                    Essendo il numero di citt&agrave; e comuni italiani molto elevato, ti verrai chiesto di inserire in un form di ricerca, il nome della citt&agrave; di tuo interesse. I risultati della ricerca ti verranno dati 
                    sulla pagina dei risultati ottenuti in base alla citt&agrave; di svolgimento dell'evento uguale a quella che hai inserito precedentemente.
                    Ti verranno dati il titolo e la breve introduzione degli annunci trovati, e potrai poi cliccare su qualsiasi annuncio per avere pi&ugrave; dettagli.</li>
                    <li id="advancedsearch"><a href="../archivio.php">La pagina di <strong>Ricerca avanzata di annunci</strong></a> &egrave; la pagina che ti permette di fare una ricerca specifica in base ai seguenti criteri:
                        <ul>
                            <li><strong>Parola chiave : </strong>potresti cercare gli annunci in base ad un argomento specifico e preciso che tratta. Una parola chiave ad esempio, potrebbe essere : 
                            <em><span xml:lang="en" lang="en">Rihanna</span></em></li>
                            <li><strong>La citt&agrave; :</strong> Ti permettere di specificare gli annunci in base alla citt&agrave; in cui si svolgeranno gli eventi</li>
                            <li><strong>Il nome del pubblicatore :</strong> Ogni annuncio &egrave; pubblicato da un utente iscritto, il nome dell'utente &egrave; appare nei dettagli dell'annuncio, se segui regolarmente 
                            gli annunci, oppure fossi interessato ad avere tutti gli annunci, di un pubblicatore, potrai cercare gli annunci in base al nome utente, o nome oppure cognome di questo pubblicatore</li>
                             <li><strong>La tipologia di evento :</strong> Ti permettere raffinare la ricerca selezionando la tipologia di eventi degli annunci. Ad esempio potrai selezionare la tipologia <em>Seminario</em></li>
                             <li><strong>Categoria :</strong> Ti permettere raffinare la ricerca selezionando la categoria di eventi degli annunci. Ad esempio potrai selezionare la categoria <em>Intrattenimento</em></li>
                             <li><strong>Data dell'evento :</strong> Ti permettere di trovare gli annunci di eventi che si svolgeranno in un intervallo di tempo scelto da te. Ad esempio <em>puoi cercare gli eventi che svolgeranno dal 15/09/2017 al 01/01/2018</em></li>
                             <li><strong>Data di pubblicazione :</strong> Ti permettere di trovare gli annunci che sono stati pubblicati in un intervallo di tempo scelto da te. Ad esempio <em>puoi cercare gli annunci pubblicati dal 15/09/2017 al 01/01/2018</em></li>
                        </ul>
                    </li>
                </ol>
                  <p>Ti verranno dati il titolo e la breve introduzione degli annunci trovati in base alla tua ricerca avanzata effettuata, e potrai poi cliccare su qualsiasi annuncio per avere pi&ugrave; dettagli, e la possibilit&agrave; di partecipare(prenotarsi) all'evento.
                       Per poter partecipare all'evento, bisogna essere un utente iscritto e aver effetuato l'accesso al tuo spazio personale</p>
            
            </div>
            <div>
                <h2 id="iscr">Iscriversi a <span xml:lang="en" lang="en">My</span> Eventi</h2>
                <h3 id="xkiscr">Perch&eacute; iscriversi su questo sito ?</h3>
                <p>L'iscrizione a questo sito ti permette di ottenere automaticamente uno spazio personale <span xml:lang="en" lang="en">My</span> Eventi.</p>
                <h3 id="whatsp">Che cos'&egrave; uno spazio personale <span xml:lang="en" lang="en">My</span> Eventi ?</h3>
                <p>Uno spazio personale <span xml:lang="en" lang="en">My</span> Eventi &egrave; un' area privata che contiene un insieme di funzionalit&agrave; e servizi offerti. Ogni utente iscritto pu&ograve; grazie allo spazio personale :</p>
                <ul>
                    <li>Prenotarsi ad un evento inviando la sua domanda di partecipazione, pu&ograve; anche ritirare la sua partecipazione in qualunque momento.</li>
                    <li>Ha una rete sociale <span xml:lang="en" lang="en">My</span> Eventi. <a  class="mobilegodown" href="#rs">Scopri cos'&egrave; una rete sociale <span xml:lang="en" lang="en">My</span> Eventi.</a></li>
                    <li>Diventare un utente <span xml:lang="en" lang="en">premium</span> e pubblicare annunci di eventi. <a href="#whatisit" class="mobilegodown">Scopri tutto sull'utente  <span xml:lang="en" lang="en">premium.</span></a></li>
                </ul>
                <h3 id="comeiscr">Come iscriversi ?</h3>
                <p>Sulla <a href="../index.php?action=signup">pagina di iscrizione utente</a>, trovi un modulo di iscrizione al sito. Dovrai compilare i seguenti campi :</p>
                <ul>
                    <li><strong>Il tuo Cognome :</strong> Corrisponde al tuo cognome scritto sulla tua carta d'identit&agrave;, <em>esempio: Bile</em>. Il tuo cognome appare sul tuo profilo e aiuta gli altri utenti iscritti di trovarti facilmente</li>
                    <li><strong>Il tuo Nome :</strong> Corrisponde al tuo nome scritto sulla tua carta d'identit&agrave; <em>esempio: Carlos</em>. Il tuo nome appare sul tuo profilo e aiuta gli altri utenti iscritti di trovarti facilmente</li>
                    <li><strong><span xml:lang="en" lang="en">Una Email : </span> </strong> Una email &egrave; un servizio di posta elettronica offerti da altri siti web come <span xml:lang="en" lang="en">Google</span> e <span xml:lang="en" lang="en">Yahoo</span> 
                    . Ti chiediamo di inserire un indirizzo <span xml:lang="en" lang="en">email</span> che verr&agrave; usato per inviarti delle comunicazioni importanti come per esempio il ripristino della tua <span xml:lang="en" lang="en">password</span>.
                     Nessuno potr&agrave; avere la tua <span xml:lang="en" lang="en">email</span> tranne l'amministratore del sito.</li>
                     <li><strong>Il tuo Nome utente:</strong> Corrisponde ad un nome immaginario, <em>esempio: marco23</em> che ti permetter&agrave; di identificarti tra gli utenti iscritti.
                     L'accesso al tuo spazio personale avviene tramite nome utente e <span xml:lang="en" lang="en">password</span>, si chiede quindi di memorizzarlo da qualche parte. Il tuo nome utente apparir&agrave; sul tuo profilo.
                     </li>
                    <li><span xml:lang="en" lang="en"><strong>Una Password :</strong></span> &Egrave; una parola chiave che dovrai sapere solo tu in quanto ti permette di accedere al tuo spazio personale. Dovrai quindi
                    memorizzarla, e se la dimentichi ti verr&agrave; un <span xml:lang="en" lang="en">link</span> via <span xml:lang="en" lang="en">email</span>, che corrisponde alla <span xml:lang="en" lang="en">email</span> con cui ti sarai iscritto.</li>
                </ul>
                <h3 id="rs">Che cos'&egrave; una rete sociale <span xml:lang="en" lang="en">My</span> Eventi ?</h3>
                <p>Una rete sociale <span xml:lang="en" lang="en">My</span> Eventi di un utente iscritto, &egrave; un gruppo di utenti che l'utente segue o che lo seguono. 
                Seguire un utente significa avere notifiche su alcune delle sue attivit&agrave; <em>ad esempio essere al corrente delle sue nuove pubblicazioni di annunci</em>. 
                Quando un utente x segue un utente y, si dice che x &egrave; seguace di y. Per seguire un utente bisogna essere iscritto e conneso al tuo spazio personale, andare sul link <em>lista degli utenti che segui</em>, oppure sul link <em>lista dei tuoi seguaci</em>, presenti nel men&ugrave; di navigazione del tuo
                 spazio personale, andare nel form <em>Cerca un utente iscritto</em> per eseguire una ricerca di utenti iscritti e cliccare sul link <em>segui utente x</em> subito dopo il nome utente dell'utente trovato.</p>
            </div>
            <div>
                <h2 id="idklog">Mi sono iscritto ma non so come accedere al mio <span xml:lang="en" lang="en">account</span></h2>
                <p>Per accedere al tuo <span xml:lang="en" lang="en">account</span> bisogna <a href="../index.php?action=login">visitare la pagina di accesso allo spazio personale</a>, dove 
                ti verr&agrave; chiesto i dati necessari per accedere. questi dati sono dati che hai inserito durante la tua iscrizione e sono: il nome utente e la password</p>
            </div>
            <div>    
                <h2 id="idkpass">Ho dimenticato la password, potete dirmela ?</h2>
                <p>Purtroppo non &egrave; possibile comunicarti la tua <span xml:lang="en" lang="en">password</span> perch&eacute; non la sappiamo. Solo tu sai la tua <span xml:lang="en" lang="en">password</span>. Tuttavia se ricordi la tua
                 <span xml:lang="en" lang="en">email</span> inserita durante la tua iscrizione possiamo inviarti un link a questa <span xml:lang="en" lang="en">email</span> in modo che tu possa inserire una nuova password. 
                 <a href="../index.php?action=getpass">Visita la pagina di ripristino della <span xml:lang="en" lang="en">password</span></a> per cambiare la tua <span xml:lang="en" lang="en">password</span>.</p>
            </div>
            <div>    
                <h2 id="cantlog">Non riesco ad accedere, mi viene detto nome utente o password sbagliata</h2>
                <p>Verifica di aver inserito correttamente il nome utente e la password che hai inserito durante la tua iscrizione al sito. Ti ricordiamo che se non ricordi il nome utente, puoi provare
                 l' <span xml:lang="en" lang="en">email</span> che hai inserito durante l'iscrizione, e se non ricordi la <span xml:lang="en" lang="en">password</span>, puoi <a href="../index.php?action=getpass"> chiedere di ripristinare la tua password visitando questa pagina.</a></p>
            </div>
            <div>    
                <h2 id="logblock">Non riesco ad accedere, mi viene detto <span xml:lang="en" lang="en">account</span> bloccato</h2>
                 <p>Gli utenti bloccati sono spesso utenti <span xml:lang="en" lang="en">premium</span> che violano ripetutamente le nostre:</p><p> <a href="#rulesPublish" class="mobilegodown">regole di pubblicazione</a> </p><p>
                 Se credi che sia stato un errore, puoi comunque scriverci a <em>admin&#64;myeventi.it</em> per avere maggiori informazioni e richiedere lo sblocco del tuo <span xml:lang="en" lang="en">account</span>.</p>
            </div>
            <div>
                <h2 id="logelim">Non voglio pi&ugrave; essere iscritto a <span xml:lang="en" lang="en">My</span> Eventi, come faccio a disiscrivermi ?</h2>
                 <p>Puoi eliminare il tuo <span xml:lang="en" lang="en">account</span> se non vuoi pi&ugrave; essere iscritto a questo. Per eliminare il tuo <span xml:lang="en" lang="en">account</span>,
                  devi prima <a href="../index.php?action=login">accedere al tuo spazio personale</a>, cliccare sulla voce <em>Impostazioni profilo</em> presente nel tuo men&ugrave; spazio personale. Una volta aperta la pagina, clicca sulla voce 
                 <em>Elimina il tuo <span xml:lang="en" lang="en">account My</span> Eventi</em>, e conferma l'eliminazione. </p>
            </div>
            <div>
                <h2 id="impost">Mi sono iscritto e voglio modificare il mio profilo tra cui la mia password di accesso </h2>
                 <p>Se vuoi cambiare le informazioni e i dati del tuo <span xml:lang="en" lang="en">account</span>, devi prima <a href="../index.php?action=login">accedere al tuo spazio utente</a>, nel <em>men&ugrave; spazio personale</em>, clicca sul link <em>Impostazioni profilo</em>, 
                 Troverai un modulo di compilazione per cambiare le informazioni inserite da te durante l'iscrizione, tra cui il cambio password. La procedura del cambio informazioni &egrave; uguale alla : <a href="#iscr"  class="mobilegoup">procedura di iscrizione.</a></p>
                 <h2 id="impostUN">Perch&eacute; non riesco a cambiare il mio nome utente dalle impostazioni profilo ?</h2>
                 <p>Per ora non &egrave; possibile cambiare il tuo nome utente per motivi tecnici. Ci sto lavorando per offrirti questa funzionalit&agrave;. </p>
                 
            </div>
            <div>
                <h2 id="findutente">Come trovare una persona iscritta al sito, che pubblica annunci ?</h2>
                <p>Per trovare una qualsiasi persona iscritta al sito, che pubblichi annunci o non, bisogna prima: <a href="#rs" class="mobilegoup">avere una rete sociale.</a> Per avere una rete sociale bisogna essere iscritti, <a href="../index.php?action=signup">Iscriviti se non sei ancora iscritto.</a>
                 Una volta iscritto vai nel men&ugrave; del tuo spazio personale e clicca sulla voce "la lista degli utenti che segui", salta la lista e vai al <span xml:lang="en" lang="en">form</span> per cercare un utente e inserisce il nome utente, cognome, oppure nome della persona che cerchi e clicca su ricerca.</p>
            </div>
            <div>     
                <h2>Domande frequenti sull'utente <span xml:lang="en" lang="en">premium</span></h2>
                <h3 id="whatisit">Che cos'&egrave; un utente <span xml:lang="en" lang="en">premium ?</span></h3>
                <p>Un utente <span xml:lang="en" lang="en">premium</span> &egrave; un utente iscritto al quale viene concesso il permesso di pubblicare i propri annunci di evento, e di gestirli. 
                Ad esempio pu&ograve; pubblicare un annuncio di concerto, modificare le informazioni dell'annuncio, caricare foto dell'annuncio e cos&igrave; via. 
                Per poter pubblicare un annuncio di evento, &egrave; obbligatorio essere un utente <span xml:lang="en" lang="en">premium</span>.</p>
                <h3 id="howtobe">Come diventare un utente <span xml:lang="en" lang="en">premium</span>?</h3>
                <p><em>Questa procedura &egrave; valida sia per chi chiede i privilegi per la prima volta, sia per chi vuole riottenerli a seguito di una loro annullazione</em>. <strong>Il passaggio ad utente <span xml:lang="en" lang="en">premium</span> &egrave; completamente gratuito!</strong>. Ogni settimana vengono casualmente scelti 10 utenti iscritti tra le richieste ricevute, 
                 e mutati a <span xml:lang="en" lang="en">premium</span>. Se vuoi diventarlo ti basta seguire questi 2 passi :</p>
                <ol>
                    <li><a href="../index.php?action=signup">Iscriviti se non sei ancora iscritto</a></li>
                    <li><a href="../index.php?action=bepremium">Invia la tua domanda di passaggio ad utente <span xml:lang="en" lang="en">premium</span></a>. </li>
                </ol>
                <p>Riceveremo poi la tua richiesta e ti garantisco una risposta entro le successive due settimane dalla tua richiesta.</p>
                <p>Se non vuoi diventare utente <span xml:lang="en" lang="en">premium</span>, ti ricordo che nel men&ugrave; del <a href="../index.php?action=login">tuo spazio personale</a>, ci sar&agrave; un <span xml:lang="en" lang="en">link</span> alla domanda di passaggio nel caso in cui cambiassi idea.</p>
                <h3 id="nomorepremium">Non sono pi&ugrave; utente <span xml:lang="en" lang="en">premium</span>, perch&egrave; ?</h3>
                <p>L'annulamento dei privilegi <span xml:lang="en" lang="en">premium</span> ad un utente sono dovuti ad un solo motivo: <strong>violazione continua delle <a href="#rulesPublish" class="mobilegodown">regole di pubblicazione.</a></strong></p>
                <p>Quando un utente viola una o pi&ugrave; regole di pubblicazione, gli viene prima bloccato l'annuncio e comunicato che il suo annuncio &egrave; temporaneamente non visibile per un motivo preciso, ad esempio: per contenuto incomprensibile.
                Gli viene poi dato un limite di tempo per provvedere alla modifica dell'annuncio per renderlo pi&ugrave; conforme alle regole di pubblicazione. L'utente che ignora gli avvisi e continua a pubblicare annunci non in regola, si vede togliere i privilegi premium, 
                o perfino bloccarsi l' <span xml:lang="en" lang="en">account</span>.</p>
                <h3 id="backtopremium">Come riavere i privilegi <span xml:lang="en" lang="en">premium</span> che mi sono stati annullati ?</h3>
                <p>Se il tuo <span xml:lang="en" lang="en">account</span> non &egrave; stato bloccato, puoi richiedere i privilegi <span xml:lang="en" lang="en">premium</span> riseguendo le: <a href="#howtobe" class="mobilegoup">istruzioni per il passaggio ad utente <span xml:lang="en" lang="en">premium</span>.</a></p>
            </div>
            <div>
                <h2 id="wantpublish">Come faccio a pubblicare un annuncio ?</h2>
                <p>Per pubblicare un annuncio bisogna essere iscritto al sito, <a href="../index.php?action=signup">iscriviti se non sei ancora iscritto</a>, e bisogna essere un utente <span xml:lang="en" lang="en">premium</span>
                 <a href="#whatisit" class="mobilegoup">Scopri che cos'&egrave; un utente <span xml:lang="en" lang="en">premium.</span></a> Una volta che ti sei iscritto e hai acquisito i privilegi <span xml:lang="en" lang="en">premium</span>,
                 accedi al tuo spazio personale, vai su <em>men&ugrave; spazio personale</em> e clicca su <em>Pubblica un annuncio di evento</em>, troverai una form che dovrai compilare per i dettagli dell'annuncio,
                 e una volta completato il tutto, vai in fondo alla pagina e clicca su pubblica. <strong>Prima di pubbliccare un annuncio &egrave; necessario che tu debba essere a conoscenza
                 delle nostre <a href="#rulesPublish"  class="mobilegodown">regole di pubblicazione.</a></strong>
                </p>
            </div>
            <div>
            </div>
                <h2 id="upnewann">Scrivere un nuovo annuncio di evento</h2>
                <p>In questa sezione verrai insegnato a compilare la form per un nuovo annuncio al fine di pubblicarlo. <a href="#wantpublish" class="mobilegoup">Scopri come trovare la form per pubblicare un annuncio</a> se non sai dove trovare la form.
                </p>
                <p>
                   La compilazione del form avviene in due parti: <strong>La parte dei campi obbligatori</strong> e <strong>La parte dei campi facoltativi</strong>.
                </p>
                   <h3 id="upmustfield">I campi obbligatori</h3>
                   <p>I campi obbligatori caratterizzano l' annuncio di evento, e sono quelli che vengono principalmente visitati dagli utenti. Questi campi sono:</p> 
                   <ol>
                        <li><strong>Titolo : </strong>Il titolo dell'evento &egrave; la prima cosa letta dagli utenti, appare come anteprima nei risultati di ricerca ed &egrave;
                         quindi importante inserire un titolo che dia un idea precisa di cosa parla l'annuncio in modo da invitare l'utente a cliccare sull'annuncio per avere pi&ugrave; 
                         dettagli. Un titolo molto vago non attira l'utente a cliccare sull'annuncio e lo inganna. <strong>Un utente ingannato potrebbe reagire male e segnalare l'annuncio se trovasse un titolo che indica un contesto completamente
                         diverso dal vero contenuto dell'annuncio</strong>. <em>Un esempio di titolo corretto &egrave; il seguente: Terremoto del Centro Italia, un anno dopo: veglie e fiaccolate per le 239 vittime</em>.
                        </li>
                        <li><strong>Il tipo di evento : </strong> aiuta l'utente a sapere di quale evento si tratta. Per questo campo devi selezionare una tra le opzioni date, <em>ad esempio: se l'evento &egrave; una conferenza, seleziona la voce Conferenza</em>.
                            Se selezioni un tipo di evento diverso dall'evento che organiizzi, il tuo annuncio non apparir&agrave; nei risutati di ricerca per tipo di evento, e <strong>se l'utente nota qualche incoerenza del tipo di evento,
                            potr&agrave; reagire male e segnalare l'annuncio.</strong>
                        </li>
                        <li><strong>La categoria dell'evento : </strong> aiuta l'utente a sapere il campo di interesse trattato nell'evento. Per questo campo devi selezionare una tra le opzioni date, <em>ad esempio: se l'evento &egrave; un evento di scienze, seleziona la voce Scienze</em>.
                            Se selezioni una categoria di evento diversa dall' attuale categoria, il tuo annuncio non apparir&agrave; nei risutati di ricerca per categoria, e <strong>se l'utente nota qualche incoerenza della categoria,
                            potr&agrave; reagire male e segnalare l'annuncio.</strong>
                        </li>
                        <li><strong>Data dell'evento :</strong> &Egrave; il giorno in cui l'evento si svolger&agrave; .Un evento senza data o con data falsa, non avr&agrave; partecipanti. Se non inserisci una data corretta, ti verr&agrave; dato un messaggio di errore. L'utente ha bisogno di sapere la data corretta e precisa dell'evento
                         in modo da valutare la sua partecipazione o di organizzarsi per essere presente il giorno dell'evento. Si chiede di inserire almeno una cifra e al massimo due cifre per il Giorno e il Mese, e 4 cifre per l'anno.  La data verr&agrave; letta in formato GG/MM/AAAA<em>Un esempio di data corretta &egrave; : 10/09/2017</em> 
                         </li>
                        <li><strong>Ora dell'evento :</strong> &egrave; l'ora in cui inizier&agrave; l'evento. Un evento senza l'ora o con ora falsa, non avr&agrave; partecipanti. <strong>Se non inserisci l'ora corretta dell'evento, ti verr&agrave; dato un messaggio di errore.</strong> L'utente ha bisogno di sapere l'ora corretta e precisa dell'evento
                         in modo da valutare la sua partecipazione o di organizzarsi per essere presente il giorno dell'evento.  Si chiede di inserire almeno una cifra e al massimo due cifre per l'Ora e i Minuti.  L'ora verr&agrave; letta in formato HH:MM <em>Un esempio di ora corretta &egrave; 10:09</em></li>
                        <li><strong>Indirizzo : </strong> &Egrave; il luogo dove si svolger&agrave; il tuo evento. Se nessuno sa dove si svolger&agrave; il tuo evento, nessuno verr&agrave;, ed &egrave; per questo &egrave; un campo obbligatorio. Ti chiediamo di selezionare la denominazione urbana, <em>per esempio: via</em>, di inserire il nome dell'indirizzo con possibilmente un numero civico
                        <em>ad esempio : Paolotti 20</em>, il comune o la citt&agrave; <em>ad esempio: Mestre</em>, e finalmente la provincia <em>ad esempio : Venezia</em>. <strong>Un indirizzo non corretto o falso potr&agrave; essere motivo di segnalazione negativa dell'annuncio.</strong></li>
                        <li><strong>Breve introduzione :</strong> La breve introduzione apparir&agrave; assieme al titolo nei risultati di ricerca, il suo ruolo &egrave; quello di completare il titolo che ha un numero di caratteri pi&ugrave; limitato. Ed &egrave;
                         quindi importante inserire una breve introduzione che dia un idea precisa di cosa parla l'annuncio in modo da invitare l'utente a cliccare sull'annuncio per avere pi&ugrave; 
                         dettagli. Una breve introduzione troppo vaga non attira l'utente a cliccare sull'annuncio e lo inganna. <strong>Un utente ingannato dall'introduzione potrebbe reagire male e segnalare l'annuncio se trovasse un titolo che indica un contesto completamente
                         diverso dal vero contenuto dell'annuncio.</strong></li>
                        <li><strong>Descrizione dell'evento : </strong> Questa parte viene letta dall'utente quando clicca sull'annuncio. Ti chiediamo di inserire tuti i dettagli dell'evento con il massimo della precisione. Potresti parlare <em> ad esempio 
                         di cosa si far&agrave; durante l'evento, quali sono gli ospiti famosi, come acquistare un biglietto per l'evento e cos&igrave; via .</em> <strong>Un contenuto della descrizione molto vago e incomprensibile potr&agrave; essere un motivo di segnalazione negativa dell'anunncio. </strong></li>
                   </ol>
                   <p><strong>Attenzione :</strong> I campi devono essere compilati rispettando le: <a href="#rulesPublish" class="mobilegodown">regole di pubblicazione.</a> Se non rispetti queste regole, 
                   le visite al tuo annuncio verranno bloccate.</p>
                   
                   
                   <h3 id="upfacofield">I campi facoltativi</h3>
                   <p>I campi facoltativi sono campi non caratteristici dell' annuncio, servono ad aumentare la probabilit&agrave; di trovare il tuo annuncio nei risultati di ricerca ed a essere pi&ugrave; acattivante per aumentare le partecipazioni. 
                    Questi campi sono: 
                    </p> 
                   <ol>
                        <li id="upetich"><strong>Le etichette : </strong>Le etichette corrispondono alle parole chiavi che permettono al tuo annuncio di apparire nei risultati di ricerca quando un utente fa una ricerca per parola chiave. <strong> Ed &egrave; quindi consigliato inserire almeno un'etichetta
                         </strong>. Se decidi di non inserire delle etichette, il tuo annunncio non apparir&agrave; nei risultati di ricerca per parola chiave, solo negli altri tipi di ricerca.
                         <a href="#findevent" class="mobilegoup">Scopri tutto su come un utente esegue una ricerca di annunci</a>
                        </li>
                        <li id="upfoto"><strong>Le foto : </strong> sono abbellimenti dell'annuncio che attirano l'utente visivo a dare la sua partecipazione all'evento. <em>Una foto potrebbe essere un'immagine della locandina, o di un ospite famoso</em>.
                            Se decidi di inserire una foto, ti chiediamo anche di inserire una breve descrizione della foto. La breve descrizione &egrave; un equivalente testuale della foto per l'utente non vedente, quin &egrave; chiesto di inserire  
                            una breve descrizione che descrive esattamente cosa si vede nella foto. Una foto si rivela particolarmente utile quando l'annuncio viene messo in primo piano nella <a href="../index.php">pagina principale</a>, in quanto viene presa la prima foto 
                             caricata e viene elencata assieme al titolo e all'introduzione del tuo annuncio. <strong>Se l'utente non vedente non capisce la breve descrizione della foto, oppure se l'utente vedente vede una foto inapropriata, 
                            potr&agrave; reagire male e segnalare l'annuncio.</strong>
                        </li>
                        
                   </ol>
                   <p><strong>Attenzione :</strong> I campi devono essere compilati rispettando le : <a href="#rulesPublish" class="mobilegodown">regole di pubblicazione.</a> Se non rispetti queste regole, 
                   le visite al tuo annuncio verranno bloccate.</p>
                   
                   <h2 id="upedit">Come modificare il tuo annuncio pubblicato ?</h2>
                   <p><a href="../index.php?action=login">Accedi prima al tuo spazio personale</a>, nel men&ugrave; del tuo spazio personale, clicca sulla voce <em>Gestisci i tuoi annunci pubblicati</em>, ti verranno poi elencati i tuoi annunci pubblicati, seleziona l'annuncio desiderato e clicca sulla voce <em>modifica annuncio</em></p>
                   <h2 id="updelete">Come eliminare il tuo annuncio pubblicato ?</h2>
                   <p><a href="../index.php?action=login">Accedi prima al tuo spazio personale</a>, nel men&ugrave; del tuo spazio personale, clicca sulla voce <em>Gestisci i tuoi annunci pubblicati</em>, ti verranno poi elencati i tuoi annunci pubblicati, seleziona l'annuncio desiderato e clicca sulla voce <em>elimina annuncio</em></p>
                   <h2 id="uppp">Come mettere il tuo annuncio in primo piano ?</h2>
                   <p>Per ora non &egrave; possibile mettere, o chiedere di mettere, il tuo annuncio in primo piano. L'amministratore del sito sceglie a caso gli annunci da mettere in primo piano tra gli annunci che 
                   visita per controllare la loro conformit&agrave; alle regole</p>
                   <h2 id="upnewpics">Come aggiungere nuove foto al tuo annuncio pubblicato. o eliminare le sue vecchie foto?</h2>
                   <p><a href="../index.php?action=login">Accedi prima al tuo spazio personale</a>, nel men&ugrave; del tuo spazio personale, clicca sulla voce <em>Gestisci i tuoi annunci pubblicati</em>, ti verranno poi elencati i tuoi annunci pubblicati, seleziona l'annuncio desiderato e clicca sulla voce <em>Gestione foto dell'annuncio</em>, verrai indirizzato alla pagina dove potrai aggiungere o eliminare le foto del tuo annuncio</p>
                   <h2 id="upfindan">Non trovo un annuncio pubblicato tempo fa, Come faccio a trovarlo?</h2>
                   <p><a href="../index.php?action=login">Accedi prima al tuo spazio personale</a>, nel men&ugrave; del tuo spazio personale, clicca sulla voce <em>Gestisci i tuoi annunci pubblicati</em>, ti verranno poi elencati i tuoi annunci pubblicati, e assieme all'elenco &egrave; presente una form per cercare tra i tuoi annunci, inserisci delle parole chiavi oppure seleziona un'opzione e avvia la ricerca.</p>
            </div>
            <div id="rulesPublish">
                   <h2>REGOLE DI PUBBLICAZIONE DI UN ANNUNCIO DI EVENTO</h2>
                   <p><strong>I contenuti di tutti gli annunci di eventi pubblicati sul sito devono essere conformi alle seguenti regole di pubblicazione: </strong></p>
                   <ul>
                        <li><em>Nessun riferimento diffamatorio, razzista o sessista deve essere fatto</em></li>
                        <li><em>Nessun riferimento pornografico o non adatto ad utenti minorenni deve essere fatto</em></li>
                        <li><em>Nessuna incitazione a violenza fisica e morale di qualunque genere, deve essere fatta</em></li>
                        <li><em>Nessuna promozione ad attivit&agrave; fraudolenta deve essere fatta</em></li>
                        <li><em>Comprensibilit&agrave; e leggibilit&agrave; del contenuto</em></li>
                        
                   </ul>
            </div>
        </div>
        <a accesskey="h" href="../index.php">Torna alla pagina  <span xml:lang="en" lang="en">Home</span></a>
    </div>
    
    <div id="footer">
        <div id="tornasu">
            <a href="#contenuto">Torna su</a>
        </div>
        <p><span xml:lang="en" lang="en">My</span> Eventi &copy; 2017</p>
    </div>
</body>
</html>
