        
        <a class="hidden" accesskey="i" href="#selectedNav">Salta il men&ugrave; di navigazione del tuo spazio personale e vai al contenuto</a>
        <div id ="navUtente">
            <h4 class="menuclick">Men&ugrave; spazio personale</h4>
            <ul class="menumobile">
            <li><a href="spaziopersonale.php?news">Ultime notizie</a></li>
            <li>Le tue partecipazioni 
                <ul>
                    <li><a href="spaziopersonale.php?myeventi&amp;desc=1">Le tue partecipazioni ad eventi futuri</a></li>
                    <li><a href="spaziopersonale.php?myeventi&amp;pass&amp;desc=1">Le tue partecipazioni ad eventi passati</a></li>
                </ul>
            </li>
            <li>La tua rete sociale
                <ul>
                    <li><a href="spaziopersonale.php?mysocial">La lista degli utenti che segui</a></li>
                    <li><a href="spaziopersonale.php?mysocial&amp;followers">La lista degli utenti che ti seguono</a></li>
                </ul>
            </li>
            <li><a href="spaziopersonale.php?action=myprofile">Visita il tuo profilo</a></li>
            <li id="navutentePremium"></li>
            <li><a href="spaziopersonale.php?action=accountsetting">Impostazioni del tuo profilo</a></li>
        </ul>
        </div>
        <div id="selectedNav"></div>
    