        <a class="hidden" accesskey="i" href="#selectedNav">Salta il men&ugrave; di navigazione del tuo spazio amministratore e vai al contenuto</a>
        <div id ="navUtente">
        <h4 class="menuclick">Men&ugrave; spazio amministratore</h4>
            <ul class="menumobile">
            <li><a href="spazioadmin.php?listevsegnalati">Annunci segnalati dagli utenti</a></li>
            <li><a href="spazioadmin.php?listevblocked">Annunci messi in quarantena</a></li>
            <li>Gestione utenti 
                <ul>
                    <li><a href="spaziopersonale.php?searchuser">lista in ordine alfabetico crescente degli utenti iscritti</a></li>
                    <li><a href="spaziopersonale.php?searchuser&amp;desc">lista in ordine alfabetico decrescente degli utenti iscritti</a></li>
                </ul>
            </li>
            <li><a href="spaziopersonale.php?action=accountsetting">Impostazioni del tuo profilo amministratore</a></li>
        </ul>
        </div>
        <div id="selectedNav"></div>
    