<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it"
lang="it" >
<head>
<title>Diventa un utente premium - My Eventi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="title" content="My eventi sito di annunci di eventi - Richiedi di essere utente premium per poter pubblicare i tuoi annunci di eventi" />
    <meta name="description" content="Ti spieghiamo come diventare un utente premium in pochi passi" />
    <meta name="keywords" content="annuncio, evento, concerto, conferenza, seminario, congresso,convegno, esposizione, mostra,danza, teatro, intrattenimento, 
                                    musica, scienze, arte, filosofia, letteratura, matematica, informatica, pop, rock, 
                                    istruttivo, cultura, generale, tecnologia, storia, riunione" />
    <meta name="author" content="Bile Ezanin Christian Prince Carlos" />
    <meta name="language" content="italian it" />
    <link href="./View/my_eventi.css" rel="stylesheet" type="text/css"/>
</head>
<body id="premiumrequest">
    <div>
        <h1>Richiedi di essere un utente <span xml:lang="en" lang="en">premium My</span> Eventi</h1>
        <p>Per essere un utente premium, ti basta seguire questa guida. Se non sai ancora cos'&egrave; un utente <span xml:lang="en" lang="en">premium My</span> Eventi, ti
        invitiamo ad <a href="index.php?action=faq&amp;id=utentePremium">avere maggiori informazioni sui privilegi <span xml:lang="en" lang="en">premium</span></a>, prima di iniziare questa guida.</p>
        <p>La guida si divide in due tipi di guida: <a href="#noniscr">la Guida alla domanda di privilegi <span xml:lang="en" lang="en">premium</span> per gli utenti non iscritti</a> e la 
        <a href="#iscr">la Guida alla domanda di privilegi <span xml:lang="en" lang="en">premium</span> per gli utenti iscritti</a>.</p>
        <h2>GUIDA</h2>
        <p>Per essere un utente premium, bisogna inanzitutto essere un utente iscritto e bisogna aver effettuato l'accesso.</p>
        <h3 id="noniscr">GUIDA PER GLI UTENTI NON ISCRITTI</h3>
        <p>Ti invitiamo a seguire questi passi:</p>
        <ol>
            <li><a href="index.php?action=faq&amp;id=utentePremium">Iscriviti se non sei ancora iscriitto</a></li>
            <li>Una volta iscriitto accedi al tuo spazio personale</li>
            <li>Nel men&ugrave; di navigazione del tuo spazio personale troverai tra la lista dei <span xml:lang="en" lang="en">link</span>, un <span xml:lang="en" lang="en">link</span>
            per effettuare una richiesta <span xml:lang="en" lang="en">premium.</span>
            </li>
            <li>Questo <span xml:lang="en" lang="en">link</span> ti riporter&agrave; qui per seguire <a href="#iscr">la guida per gli utenti iscritti</a></li>
        </ol>
        <h3 id="iscr">GUIDA PER GLI UTENTI ISCRITTI</h3>
        <p>Se sei un utente gi&agrave; iscritto, devi aver effettuato l'accesso per fare una richiesta <span xml:lang="en" lang="en">premium.</span></p>
        <p>Ti invitamo ad <a href="index.php?action=login">effettuare l'accesso al tuo spazio personale, se non l'hai fatto</a>, di ritornare qui cliccando sul 
        <span xml:lang="en" lang="en">link</span> alla la richiesta, presente nel tuo men&ugrave; di navigazione dello spazio personale, e a proseguire questa guida.</p>
        <p><strong>Informazione importante :</strong> I privilegi <span xml:lang="en" lang="en">premium</span> non ti verranno automaticamente concessi dopo aver effettuato la richiesta. 
        Ti chieder&ograve; un colloquio via <span xml:lang="en" lang="en">Skype</span> per assicurarmi che tu sia una persona affidabile. Ti invito a verifica spesso le tua <span xml:lang="en" lang="en">mail</span> usata per iscriverti a questo sito,
        in quanto verrai contattato per chiedere un colloquio.</p>
        <p>Se sei sicuro di proseguire con la tua domanda, ti basta adesso inviarci una conferma</p>
        <p><strong><a href="index.php?action=bepremium&amp;conf">Conferma e richiedi adesso di esssere utente premium!</a></strong></p>
        <p><a class="annulla" href="index.php">Annulla tutto e torna alla pagina principale</a></p>
    </div>
</body>
</html>